@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}





.main-p{
    width: 80%;
    height: 70%;
    margin: 50px auto;
}


.dados-produto{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #888888;
}


.img-produto {
    width: 50%;
    height: 100%;
    background-color: #3c3a3a;
}


.img-p{
    width: 100%;
    height: 100%;
}

.inf-p{
    width: 50%;
    background-color: #3a312a;
}

.preco-prod{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px ;
    padding: 30px;
    text-align: center;
    font-weight: bold;
}

.preco-prod h1{
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    

}

.preco-prod p{
    color: #aaaaaa;
    text-align: center;
}


.descricao-prod{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: #ffffff;
}

.descricao-prod h1{
    margin-bottom: 10px;
}

.p-descricao{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-align: justify;
    transition: all 0.8s ease-in-out ;

}

.h-descricao{
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
}



.carrinho{
    width: 50%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 50%;
    height: 50px;
    background-color: #333333;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 30px auto;
    border-radius: 20px;
    transition: all 0.8s ease-in-out;
}

button:hover{
    font-size: 25px;
    background-color: #444444;
    width: 100%;
}